.background{
	background-color:#00324b;
	margin: 0;
	height: 100vh;
}

.title-big1{
color:#acf;
font-size:8vw;
font-family:'Vollkorn',serif;
font-weight:bold;
}

.title-medium1{
	color:#acf;
	font-size:5vw;
	font-family:'Vollkorn',serif;
	font-weight:bold;
	height: 1.5em;
}
.title-medium2{
	color:#acf;
	font-size:5vh;
	font-family:'Vollkorn',serif;
	font-weight:bold;
	height: 1.5em;
	margin-left: 5vw;
}

.box{
	width: 100%;
	height: 100%;
}
.edit-left1{
	background-color: #023;
	width: 24vw;
	padding: 0 0 0 1.8vw;
	float: left;
	height: 100%;
	border:solid;
	border-width: 0 0.1vw 0 0;
	border-color: #666;
}
.edit-left2{
	background-color: #023;
	width: 100%;
	height: 30%;
	border:solid;
	border-width: 0 0 0.1vw 0;
	border-color: #666;
}
.edit-right1{
	position: relative;
	float: right;
	width: 64vw;
	padding:5vh 5vw 0 0;
}
.edit-right2{
	width: 90vw;
	padding:3vh 5vw 0 5vw;
}

.font-blue-jp1{
  color: #c9daf8;
	font-size: 2vw;
}

.font-gray-jp{
  color: #ddd;
}

.list-items1{
	font-size: 1.5vw;
	height: 70vh;
	overflow-y: scroll;
}
.list-items2{
	margin: 2vh 5% 0 5%;
	font-size: 2.5vh;
	height: 52%;
	overflow-y: scroll;
}

.scrollbar1{
	scrollbar-gutter: stable;
}

.scrollbar1::-webkit-scrollbar{
	background: transparent;
	width: 0.5vw;
}

.scrollbar1::-webkit-scrollbar-thumb {
	background: #579;
	border-radius: 0.2vw;
}

.scrollbar2{
	scrollbar-gutter: stable;
}

.scrollbar2::-webkit-scrollbar{
	background: transparent;
	width: 3vw;
}

.scrollbar2::-webkit-scrollbar-thumb {
	background: #579;
	border-radius: 2vw;
}

.input-set{
	margin:2vh 0 0 0;
	font-size: 2vw;
}
.svg1{
	font-size: 2vw;
	color: #acf;
	pointer-events: none;
	flex-shrink: 0;
	position:absolute;
	width: 1.5em;
	height: 1.5em;
	padding: 0.25em 0 0 0.25em;
}

.input-text {
	background-color: #194b64;
	border: 0;
}

.sign1{
	font-size: 2vw;
	border-radius: 1vw;
	width: 41vw;
	height: 4vw;
	padding-left: 4vw;
}

input{
	padding: 0.1vw 0;
	color: #ddd;
}

input::placeholder{
	color:#68a;
}

.button-blue1{
	font-size:1.5vw;
	background-color:#3c9cff;
	color:#FFF;
	font-weight: bold;
	border: 0;
	border-radius: 0.5em;
	padding: 0.5em;
	cursor: pointer;
}

.button-gray1{
	font-size:1.5vw;
	background-color:#444;
	color:#FFF;
	font-weight: bold;
	border: 0;
	border-radius: 0.5em;
	padding: 0.5em;
	cursor: pointer;
}

.modal-wrap01,
.modal-wrap02 {
	display: none;
}
.modal-title {
	margin: 0;
	padding: 1rem;
	border-bottom: 1px solid #dee2e6;
}
.title-bold .modal-title {
	font-weight: bold;
}
.modal-body {
	padding: 1rem;
}
.modal-footer {
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
	border-top: 1px solid #dee2e6;
}
.btn {
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background: #6c757d;
	border: 1px solid #6c757d;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: 0.15s;
	opacity: 1;
}
.btn:hover {
	background: #5a6268;
	border-color: #545b62;
	opacity: 0.7;
	cursor: pointer;
}

/* modaal.min.css */
.modaal-container {
	max-width: 550px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
}
.modaal-content-container {
	padding: 0;
}

.modaal-confirm-content{
	padding: 1vw 0;
}

.mselector{
	padding: 0.5vw;
	background-color: #456;
}

.mselector:hover{
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: #234;
}

.selector{
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.selector:hover {
	background-color: #456;
}

textarea {
	resize: none;
	padding: 0.5vw 0vw 0.5vw 0.5vw;
}

.post_textarea1{
	color: #ddd;
	border-radius: 0.5vw;
	font-size: 1.5vw;
	width: 55vw;
	height: 51vh;
}

.pulldown1{
	margin:0 1vw 0 0;
	background-color: #6ad;
	height: 2.5vw;
	width: auto;
	border-radius: 0.5vw;
	font-size: 1.5vw;
	color: #000;
}

.pulldown2{
	margin:1vh 1vw 0 0;
	background-color: #6ad;
	height: 4vh;
	width: auto;
	border-radius: 0.5vw;
	font-size: 2.5vh;
	color: #000;
}

.rm1{
	margin:1vh 1vw 0 0;
}

.font1{
	font-size: 1.5vw;
	margin: 0.5vw 0;
}

.font2{
	font-size: 2.5vh;
	margin: 1vh 0;
}

.left1{
	margin: 0 0 0 0.5vw;
}

.right1{
	text-align: right;
	margin: 1vw 0 0 1vw;
}

.edit_post1{
	cursor: pointer;
	max-width: 23.5vw;
	width: fit-content;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.edit_post2{
	cursor: pointer;
	max-width: 100%;
	width: fit-content;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.edit_post:hover {
	background-color: #456;
}

.edit-top1{
	height: 10vh;
	font-size: 2vw;
	font-weight: bold;
	position: relative;
}

.edit-top2{
	margin-left:5vw;
	height: 5vh;
	font-size: 4vh;
	font-weight: bold;
	position: relative;
}

.earth{
	stroke-width:2px;
	stroke: #788EA5;
	fill: none;
}

.box-center{
	padding:0 10vw 0 0;
}

.index-left{
	float: left;
	height: 100%;
	border:solid;
	border-width: 0 0.1vw 0 0;
	border-color: #666;
	text-align: right;
	width: 34.8vw;
	padding: 0 5vw 0 0;
}

.index-right1{
	position: relative;
	float: right;
	padding:25vh 10vw 0 0;
	width: 45vw;
}

.index-right2{
	width: 90%;
	padding:15vh 5vw 0 5vw;
}

.font-blue-jp2{
	padding-top: 3vh;
  color: #c9daf8;
	font-size: 2.5vh;
}

.title-big2{
	color:#acf;
	font-size:8vh;
	font-family:'Vollkorn',serif;
	font-weight:bold;
}

.svg2{
	font-size: 2.5vh;
	color: #acf;
	pointer-events: none;
	flex-shrink: 0;
	position:absolute;
	width: 1.5em;
	height: 1.5em;
	padding: 0.25em 0 0 0.25em;
}

.sign2{
	font-size: 2.5vh;
	border-radius: 1vw;
	width: 90%;
	height: 5vh;
	padding-left: 5vh;
}

.button-blue2{
	font-size:2.5vh;
	background-color:#3c9cff;
	color:#FFF;
	font-weight: bold;
	border: 0;
	border-radius: 0.5em;
	padding: 0.5em;
	cursor: pointer;
}

.button-gray2{
	font-size:2.5vh;
	background-color:#444;
	color:#FFF;
	font-weight: bold;
	border: 0;
	border-radius: 0.5em;
	padding: 0.5em;
	cursor: pointer;
}

.right2{
	text-align: right;
	margin: 2% 2% 0 0;
}

.svg3{
	width: 2.5vw;
	right:2vw;
	font-size: 2vw;
	color: #acf;
	flex-shrink: 0;
	position:absolute;
	width: 1.5em;
	height: 1.5em;
}

.svg4{
	right:2vw;
	color: #acf;
	flex-shrink: 0;
	position:absolute;
	width: 1.5em;
	height: 1.5em;
}

.post_textarea2{
	color: #ddd;
	border-radius: 0.5vw;
	font-size: 2.5vh;
	width: 100%;
	height: 20vh;
}

.font-small{
	color:#ddd;
	font-family:'Vollkorn',serif;
	font-weight:bold;
	}